<!-- ◘ CSS ◘ -->
<link rel="stylesheet" href="assets/css/index.css">

<!-- ◘ JS ◘ -->
<!-- <script src="assets/js/index.js"></script> -->


<div id="section-wrapper" class="nc container-fluid">
    <body>
        <div style="margin-top: 10px">
            <img src="assets\img\header.png" width="100%">
        </div>
        <div>
            <p style="text-align: center; font-size: 38px;"><span style="color: #00aaff; font-weight: bold;">Inscrivez-vous</span> et <span style="color: #00aaff; font-weight: bold;">réservez</span> votre <b>snack</b>, votre <b>repas</b> du <b>midi</b> et du <b>soir</b> !!</p>
        </div>
        <div>
            <p class="titre">évènement à venir</p>
        </div>
        <div class="actu">
            <div class="texte">
                    <p>Lundi 29 Avril 2021<br><br>
                        REPAS MEXICAIN<br><br>
                        Tacos , chili con carne</p>
            </div>
        
            <div>
                <img src="assets\img\tacos.png" width="290">
            </div>
        </div>
        <div style="margin-top: 50px;">
            <p style="text-align: center; font-size: 35px;"><b>Votre menu de ce mardi 30 mars 2021</b></p>
            <div class="my_select" style="display: inline-flex; margin-left: 286px;margin-bottom: -70px;">
                <select name="menus" id="menus" style="border: 1px solid #e3007e;">
                <option value="menu">Cette semaine</option>
                <option value="menu">La semaine prochaine</option>
                </select>
                <p style="margin: 50px;"><span style="font-size:25px;position: relative;top: -40px;text-align: center;" >Votre menu du</span> </p>
                <select name="menus" id="menus"style="border: 1px solid #e3007e">
                    <option value="menu">Lundi 12 Mars</option>
                    <option value="menu">Mardi 13 Mars</option>
                    <option value="menu">Mercredi 14 Mars</option>
                </select>
            </div>
            <p><img src="assets\img\menu_jour_semaine-5.png" width="100%"></p>
        </div>
        <div style="margin-top: 50px; margin-left: -150px;">
            <img src="assets\img\actus.png" style="width: 111%;">
        </div>
        <div style="margin-top: 50px">
            <img src="assets\img\footer.png" style="width: 100%">
        </div>
        </body>
</div>


