<!-- ◘ CSS ◘ -->
<link rel="stylesheet" href="assets/css/footer.css">

<!-- ◘ JS ◘ -->
<script type="text/javascript" src="assets/js/footer.js"></script>


<div id='footer-wrapper'>
    <p>MON FOOTER</p>
</div>
