<!--  ♦ This header is displayed if NO user is logged in ♦  -->

<!-- ◘ CSS ◘ -->
<link rel="stylesheet" href="assets/css/header.css">

<!-- ◘ JS ◘ -->
<script type="text/javascript" src="assets/js/header.js"></script>


<div id='header-wrapper' class='nc'>
    <p>MON HEADER</p>
</div>
