:root {
	--color-blue: 		rgba(0, 170, 255, 1);
	--color-green:		rgba(127, 194, 65, 1);
	--color-pink:	 	rgba(227, 0, 126, 1);
	--color-black:		rgba(35, 31, 32, 1);
	--color-bootstrap:	rgba(0, 123, 255, 1);
	--color-main:		  var(--color-green);
}

#loadingModal {
    display: none;
    background-image: url(../img/chargement.gif);
    background-repeat: no-repeat;
    background-position: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.app-modal {
    position: fixed;
    z-index: 1000;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.op-0 {
    opacity: 0;
}


/***************************************
               Button
***************************************/

/* Button (enabled) */
button:not(:disabled):not([disabled]):not(.disabled),
.button:not(:disabled):not([disabled]):not(.disabled) {
    cursor: pointer;
}

/* Button (disabled) */
button:disabled, button[disabled], button.disabled,
.button:disabled, .button[disabled], .button.disabled {
    opacity: .7;
}


