
/* section
.app-section {
    background:url(../img/afpopote.png);
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
*/
body {
    margin: auto;
    width: 100%;
    max-width: 1180px;
    font-family: Calibri;
    background-image: url(../img/afpopote.png);
    background-size: contain;
    overflow-x: hidden;
} 

.actu {
    border: 6px solid #e3007e;
    display: flex;
    transform: rotate(-3deg);
    box-shadow: 18px 18px 14px #ccc;
    -moz-box-shadow: 18px 18px 14px #ccc;
    -webkit-box-shadow: 18px 18px 14px #ccc;
    -khtml-box-shadow: 18px 18px 14px #ccc;
}

img {
    margin: 5px;
}

.texte {
    width: 900px;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    color: #e3007e;
}
.titre{
    color: #e3007e;
    margin-top: 20px;
    margin-left: 380px;
    font-size: xx-large;
    font-weight: bold;
    text-transform: uppercase;
}
select option{
    text-align: center;
}
select{
    font-size:20px;
    height: 50px;
}